[opener]
inkscape = [{ run = "inkscape %s", orphan = true, desc = "Inkscape" }]

[open]
prepend_rules = [
    { mime = "image/svg+xml", use = [
        "open",
        "inkscape",
        "edit",
        "reveal",
    ] },
]

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"
